<!-- html code for admin page -->
<div class="container card mt-2 bg-success">
    <h1 class="card-header text-center text-light">Employee List</h1>
    <table class="table text-light card-body">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Admin</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <%for(emp of employee){%>
            <tr id="emp-view-<%=emp.id%>" class="emp-view">
                <td><%=emp.name%></td>
                <td><%=emp.email%></td>
                <td>
                    <%if (emp.isAdmin==true){%>
                        <a type="submit" href="/admin/removeadmin/<%=emp.id%>" class="btn btn-danger update-emp">Admin</a>
                    <%}else{%>
                        <a type="submit" href="/admin/makeadmin/<%=emp.id%>" class="btn btn-danger update-admin">Employee</a>
                    <%}%>
                </td>
                <td>
                    <%-include('update')%>
                </td>
                <td>
                    <a type="submit" href="/admin/delete/<%=emp.id%>" class="btn btn-danger delete-employee">Remove</a>
                </td>
            </tr>
            <%}%>
        </tbody>

    </table>

</div>

<script src="/js/delete_Employee.js"></script>
