<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-<%=emp.id%>"
    data-bs-whatever="@mdo">Update</button>

<div class="modal fade" id="exampleModal-<%=emp.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Update Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/update/<%=emp.id%>" method="post">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" name="name" value="<%=emp.name%>" class="form-control" id="<%=emp.id%>">
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="recipient-email" class="col-form-label">Email:</label>
                            <input type="email" name="email" value="<%=emp.email%>" class="form-control" id="<%=emp.id%>">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="recipient-password" class="col-form-label">Name:</label>
                            <input type="password" name="password" value="<%=emp.password%>" class="form-control" id="<%=emp.id%>">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="employee_id" value="<%=emp.id%>">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
        </div>
    </div>
</div>